.button {
  background-color: #ff8811;
  border: 2px solid #ff8811;
  border-radius: 4px;
  color: #101010;
  padding: 12px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
