.nav_section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.flex_link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
