@media only screen and (max-width: 900px) {
  .form_section {
    height: auto;
  }
  .form_width {
    width: 300px;
  }
  .form_direction {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  p {
    padding: 0 10px;
  }
  .image_container img, .cv_container img {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .row_direction {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .introduction {
    text-align: center;
  }
  .main_section {
    height: auto;
  }
}

@media only screen and (max-width: 425px) {
  #scrollup {
    display: none;
  }
}

@media only screen and (max-width: 320px) {
  .nav_section {
    display: none;
  }
}
