/* Ce fichier contient un réinitialisateur CSS, le style de base du body et un lien vers les autres fichiers CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
}

header {
  width: 96em;
  padding: 6px 0;
  display: flex;
  background-color: #cccccc;
}

.background {
  background-image: radial-gradient(#101010, #cccccc);
  width: 16em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.background a {
  width: 100%;
  background-color: #cccccc;
}

.border-left {
  border-left: 2px solid #cccccc;
}

main {
  padding: 24px;
}

li {
  list-style: none;
}

footer a {
  position: absolute;
  right: 5em;
  top: 40em;
}
