/* Ce fichier contient un réinitialisateur CSS, le style de base du body et un lien vers les autres fichiers CSS */
/* button.css s'occupe des boutons */
/* navbar.css s'occupe des navbar */
/* list.css s'occupe des listes et leur conteneur */
/* text.css s'occupe des textes */
/* form.css s'occupe des formulaires */
/* section.css s'occupe des sections du main de l'index et de leurs div enfants */
/* animation.css s'occupe des animations sur les boutons, le formulaire et le scrollup */
/* portability.css s'occupe de la portabilité du site sur les différents appareils et tailles d'écran */

@import "list.css";
@import "button.css";
@import "navbar.css";
@import "section.css";
@import "animation.css";
@import "text.css";
@import "form.css";
@import "portability.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
}

header {
  width: 100%;
  padding: 6px 0;
  display: flex;
  background-color: #001242;
}

.background {
  width: 16.66%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.background a {
  width: 100%;
}

a {
  color: #fcfcfc;
}

.border-left {
  border-left: 2px solid #fcfcfc;
}

.cv_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.padding-top {
  padding-top: 24px;
}

footer {
  padding: 12px 0;
  border-top: 2px solid #fcfcfc;
  width: 100%;
  background-color: #001242;
  color: #fcfcfc;
}

#scrollup {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #ff8811;
  background-image: url("../images/arrow-up-solid.png");
  background-size: 40px 40px;
  background-position: center;
  background-repeat: no-repeat;
  width: 75px;
  height: 75px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}
